*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    text-align: justify;
   
}

body {
    background-color: rgb(229, 229, 229);
}

h1 {
    text-align:center;
    margin-top: 10px;
}

a {
    text-decoration: none;
    background-color: black;
    color: white;
    margin: 10px;
}

a:hover {
    color: rgb(237, 31, 100);
}


.header-li {
    background-color: black;
    padding-bottom: 20px;
    

}

.ul-header {
    background-color: black;
}

.section-1 {
    margin-top: 50px;
    float: left;
}

.text {
    float: left;
    margin-left: 5%;
    width: 45%;
}

.text-1-1 {
    float: left;
    margin-left: 5%;
    width: 45%;

}

.cloud-servers-img {
    width: 40%;
    float: right;
    margin-left: 10%;
    margin-top: 5%;

}

.div-1-1 {
    display: block;
    margin-top: 5%;
    margin-left: 25%;
    width: 45%;
}

.text-1-1 {
    display: block;
    margin-top: 5%;
    margin-left: 25%;
    width: 45%;
   

}

.section-2 {
    margin-top: 3%;
    float: left;
}

.google-img {
    text-align: center;
    margin-top: 5%;
    margin-right: 100px;
}



.text-2 {

    margin-top: 100px;
    float: left;
    margin-left: 25%;
    margin-right: 25%;

}

.car {
    width: 100%;
    margin-left: 29%;

    float: left;
}
.text-2-1 {
    float: left;
   
    margin-top: 5%;
    margin-left: 25%;
    width: 45%;
}



.section-5 {
    float: left;
    margin-top: 100px;
}

.bitcoin-img {
    width: 100%;
    float: left;
    margin-left: 45%;
}



.text-3 {
    margin-left: 25%;
    margin-right: 25%;
}

.section-6 {
    float: left;
}

.solana-img {
    width: 45%;
    margin-left: 28%;
    margin-top: 200px;


}

.text-3-1 {
    float: left;
    padding-right: 25%;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
   

}

.text-4 {
    float: left;
    margin-top: 5%;
    margin-left: 25%;
    padding-right: 25%;
    margin-right: 100%;
    width: 50%;

}


.section-abby1 {
    padding: 50px;
}

.text-abby1 {
    margin: 50px;
}

 .text-abby2 {
    margin: 450px;
    margin-top: 5%;
    margin-bottom: 5%;     
}

 .text-abby3 {
    float: left;
    margin: 50px;
    width: 45%;
}

.center-abby {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.natural-language {
    float: left;
    display: block;
    margin-top: 5%;
    margin-left: 25%;
    width: 45%;

}

.chatterbox {
    text-align: center;
    width: 100%;
    float: left;
    margin: 25%px;
    margin-left: -30px;
    
}

.overview {
    padding-top: 50px;
    float: left;
    padding-left: 25%;
    padding-right: 25%;

}

.motivation {
    padding-top: 50px;
    float: left;
    padding-left: 25%;
    padding-right: 25%;
}

.description {
    padding-top: 50px;
    float: left;
    padding-left: 25%;
    padding-right: 25%;

}

.project-li {
    font-weight: bold;
}

.tools-tech {
    padding-top: 50px;
    float: left;
    padding-left: 25%;
    padding-right: 25%;

}

.skills {
    padding-top: 50px;
    float: left;
    padding-left: 25%;
    padding-right: 25%;
}
.outcome {
    padding-top: 50px;
    float: left;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 10%;
}




