*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    text-align: justify;

}

body {
    background-color: #17252A;
}

h1 {
  text-align: center;
  color: crimson;
  font-size: 30px;
  margin: 50px;
}

a {
    text-decoration: none;
    margin: 5px;
    transition: 0.5s ease-out;
    color: white;
}



.title {
  font-size: 30px;
  float: left;
  color: darkturquoise;
  
}

.lists {
  float: right;
  margin-right: 15px;
}

a:hover {
    color: rgb(237, 31, 100);
    background-position: -100%;
}



.header-li {
    background-color: #2B7A78;
    padding-bottom: 75px;
    font-size: 20px;

}

.ul-header {
    background-color: #2B7A78;
}

.section-1 {
    margin-top: 50px;
    float: left;
}

.text {
    float: left;
    margin-left: 5%;
    width: 45%;
}

.text-1-1 {
    float: left;
    margin-left: 5%;
    width: 45%;

}

s

.div-1-1 {
    display: block;
    margin-top: 5%;
    margin-left: 25%;
    width: 45%;
}

.text-1-1 {
    display: block;
    margin-top: 5%;
    margin-left: 25%;
    width: 45%;


}

.section-2 {
    margin-top: 3%;
    float: left;
}

.google-img {
    text-align: center;
    margin-top: 5%;
    margin-right: 100px;
}



.text-2 {

    margin-top: 100px;
    float: left;
    margin-left: 25%;
    margin-right: 25%;

}

.car {
    width: 100%;
    margin-left: 29%;

    float: left;
}
.text-2-1 {
    float: left;

    margin-top: 5%;
    margin-left: 25%;
    width: 45%;
}



.section-5 {
    float: left;
    margin-top: 100px;
}





.text-3 {
    margin-left: 25%;
    margin-right: 25%;
}

.section-6 {
    float: left;
}



.text-3-1 {
    float: left;
    padding-right: 25%;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;


}

.text-4 {
    float: left;
    margin-top: 5%;
    margin-left: 25%;
    padding-right: 25%;
    margin-right: 100%;
    width: 50%;

}




.natural-language {
    float: left;
    display: block;
    margin-top: 5%;
    margin-left: 25%;
    width: 45%;

}

.chatterbox {
    text-align: center;
    width: 100%;
    float: left;
    margin: 25%px;
    margin-left: -30px;

}

.overview {
    padding-top: 50px;
    float: left;
    padding-left: 25%;
    padding-right: 25%;

}

.motivation {
    padding-top: 50px;
    float: left;
    padding-left: 25%;
    padding-right: 25%;
}

.description {
    padding-top: 50px;
    float: left;
    padding-left: 25%;
    padding-right: 25%;

}

.project-li {
    font-weight: bold;
}

.tools-tech {
    padding-top: 50px;
    float: left;
    padding-left: 25%;
    padding-right: 25%;

}

.skills {
    padding-top: 50px;
    float: left;
    padding-left: 25%;
    padding-right: 25%;
}
.outcome {
    padding-top: 50px;
    float: left;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 10%;
}


.study-spaces-body {
    text-align: center;
    margin: 20px;
    color: white;


}

.study-spaces-title {
    font-size: 50px;
    margin: 30px;
    color: white;
}

.row {
    padding: 30px;
}



.column {
    text-align: center;
    padding: 30px;
}

.p-study-spaces {
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
    font-size: 30px;
    color: white;
}
.p2-study-spaces {
    text-align: center;
    font-size: large;
    padding-bottom: 80px;
    color: white;
}

.footer {
    text-align: center;

}

.email-link {
    text-decoration: none;
    background-color: transparent;
    color: white;
}

.h1-locations {
    text-align: center;
    color: crimson;
    font-size: 50px;
    margin: 30px;
}

.locations {
    text-align: center;
    margin: 30px;
    font-size: 30px;
    color: white;
}

.h3-locations {
    margin-left: 3%;
}

.footer {
    text-align: center;
    margin: 50px;


}

.classes-h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    margin: 30px;
    color: crimson;
}

.classes {
    text-align: center;
    margin: 30px;
    font-size: 30px;
    color: white;

}

.classes-body {
    background-color: #17252A;
}

.text-abby2 {
    color: white;
    margin: 15px;
}

.thank-you {
    color: white;

}
