*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    text-align: justify;
}

body {
    background-color: rgb(182, 180, 177);
}

h1 {
    text-align:center;
    margin-top: 10px;
}

a {
    text-decoration: none;
    background-color: black;
    color: white;
    margin: 10px;
}

a:hover {
    color: rgb(237, 31, 100);
}


.header-li {
    background-color: black;
    padding-bottom: 20px;

}

.ul-header {
    background-color: black;
}

.section-1 {
    margin-top: 50px;
    float: left;
}

.text {
    float: left;
    margin-left: 5%;
    width: 45%;
}

.cloud-servers-img {
    width: 40%;
    float: right;
    margin-left: 10%;
    margin-top: 8%;

}

.text-1-1 {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 50px;


}

.section-2 {
    margin-top: 3%;
    float: left;
}

.google-img {
    text-align: center;
    margin-top: 5%;
}



.text-2 {
    width: 45%;
    margin-top: 100px;
    float: left;

    margin-left: 5%;

}

.car {
    width: 45%;
    margin-left: 5%;
    margin-top: 17%;
    float: right;
}

.text-2-1 {
    float: left;
    margin-left: 10%;
    margin-top: 2%;
    margin-right: 10%;
}

.section-5 {
    float: left;
    margin-top: 100px;
}

.bitcoin-img {
    width: 100%;
    float: left;
    margin-left: 45%;
}



.text-3 {
    margin-left: 10%;
    margin-right: 10%;
}

.section-6 {
    float: left;
}

.solana-img {
    width: 45%;
    margin-left: 10%;
    float: left;
    margin-top: 100px;
    padding-bottom: 2%;

}

.text-3-1 {
    margin: 100px;

}


.section-abby1 {
    padding: 50px;
    margin-top: 5%;
    float: left;
}

.text-abby1 {
    margin: 100px;
}

    
