*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    text-align: justify;

}

body {
    background-color: #17252A;
}

h1 {
  text-align: center;
  color: crimson;
  font-size: 30px;
  margin: 50px;
}

a {
    text-decoration: none;
    margin: 10px;
    transition: 0.5s ease-out;
    color: white;
}

button {
  font-weight: 500;
  font-size: 20px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.5s ease-out;
}

.title {
  font-size: 30px;
  float: left;
  color: darkturquoise;

}

.lists {
  float: right;
  margin-right: 15px;

}

a:hover {
    color: rgb(237, 31, 100);
    background-position: -100%;
}



.header-li {
    background-color: #2B7A78;
    padding-bottom: 70px;
    font-size: 20px;

}

.ul-header {
    background-color: #2B7A78;
}

.section-1 {
    margin-top: 50px;
    float: left;
}

.text {
    float: left;
    margin-left: 5%;
    width: 45%;
}

.text-1-1 {
    float: left;
    margin-left: 5%;
    width: 45%;

}

s

.div-1-1 {
    display: block;
    margin-top: 5%;
    margin-left: 25%;
    width: 45%;
}

.text-1-1 {
    display: block;
    margin-top: 5%;
    margin-left: 25%;
    width: 45%;


}

.section-2 {
    margin-top: 3%;
    float: left;
}

.google-img {
    text-align: center;
    margin-top: 5%;
    margin-right: 100px;
}



.text-2 {

    margin-top: 100px;
    float: left;
    margin-left: 25%;
    margin-right: 25%;

}

.car {
    width: 100%;
    margin-left: 29%;

    float: left;
}
.text-2-1 {
    float: left;

    margin-top: 5%;
    margin-left: 25%;
    width: 45%;
}



.section-5 {
    float: left;
    margin-top: 100px;
}





.text-3 {
    margin-left: 25%;
    margin-right: 25%;
}

.section-6 {
    float: left;
}



.text-3-1 {
    float: left;
    padding-right: 25%;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;


}

.text-4 {
    float: left;
    margin-top: 5%;
    margin-left: 25%;
    padding-right: 25%;
    margin-right: 100%;
    width: 50%;

}




.natural-language {
    float: left;
    display: block;
    margin-top: 5%;
    margin-left: 25%;
    width: 45%;

}

.chatterbox {
    text-align: center;
    width: 100%;
    float: left;
    margin: 25%px;
    margin-left: -30px;

}

.overview {
    padding-top: 50px;
    float: left;
    padding-left: 25%;
    padding-right: 25%;

}

.motivation {
    padding-top: 50px;
    float: left;
    padding-left: 25%;
    padding-right: 25%;
}

.description {
    padding-top: 50px;
    float: left;
    padding-left: 25%;
    padding-right: 25%;

}

.project-li {
    font-weight: bold;
}

.tools-tech {
    padding-top: 50px;
    float: left;
    padding-left: 25%;
    padding-right: 25%;

}

.skills {
    padding-top: 50px;
    float: left;
    padding-left: 25%;
    padding-right: 25%;
}
.outcome {
    padding-top: 50px;
    float: left;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 10%;
}


.study-spaces-body {
    text-align: center;
    margin: 20px;
    color: white;


}

.study-spaces-title {
    font-size: 50px;
    margin: 30px;
    color: white;
}

.row {
    padding: 30px;
}



.column {
    text-align: center;
    padding: 30px;
}

.p-study-spaces {
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
    font-size: 30px;
    color: white;
}
.p2-study-spaces {
    text-align: center;
    font-size: large;
    padding-bottom: 80px;
    color: white;
}

.footer {
    text-align: center;

}

.email-link {
    text-decoration: none;
    background-color: transparent;
    color: white;
}

.h1-locations {
    text-align: center;
    color: crimson;
    font-size: 50px;
    margin: 30px;
}

.locations {
    text-align: center;
    margin: 30px;
    font-size: 30px;
    color: white;
}

.h3-locations {
    margin-left: 3%;
}

.footer {
    text-align: center;
    margin: 50px;


}

.classes-h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    margin: 30px;
    color: crimson;
}

.classes {
    text-align: center;
    margin: 30px;
    font-size: 30px;
    color: white;

}

.classes-body {
    background-color: #17252A;
}

.text-abby2 {
    color: white;
    margin: 15px;
}

.thank-you {
    color: white;

}




.menu-w {
  position: relative;
  top: 0;
  right: 1;
}

.menu-w .toggle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 80px;
  height: 80px;
  opacity: 0;
}

.menu-w .icon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: midnight-blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-w .icon > .class-demo {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}


.menu-w .icon > .class-demo::before, .menu-w .icon > .class-demo::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -23px;
  width: 100%;
  height: 2px;
  background: inherit;

}

.menu-w .icon > .class-demo::after {
  top: 23px;
}

.menu-w .toggle:checked + .icon > .class-demo {
  transform: rotate(135deg);
}

.menu-w .toggle:checked + .icon > .class-demo::before,
.menu-w .toggle:checked + .icon > .class-demo::after {
  top: 0;
  transform: rotate(90deg);

}


.menu-w .toggle:checked:hover + .icon > .class-demo {
  transform: rotate(225deg);

}

.menu-w .menu {
  margin-top: 130px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-w .menu > .class-demo {
  background: rgba(24,39,51,0.85);
  border-radius: 50%;
  width: 200vw;
  height: 150vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;

}

.menu-w .menu > .class-demo > .class-demo {
  text-align: center;
  padding-bottom: 300px;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;

}
.menu-w .menu > .class-demo > .class-demo > .ul-demo > .li-demo {
  list-style: none;
  color: white;
  font-size: 25px;
  padding: 1rem;

}

.menu-w .menu > .class-demo > .class-demo > .ul-demo > .li-demo > .a-demo {
  color: white;
  text-decoration: none;
  transition: color 0.4s ease;

}
.menu-w .menu > .class-demo > .class-demo > .ul-demo > .menu-header {
  color: white;
  text-decoration: none;
  transition: color 0.4s ease;
  font-size: 30px;
  padding: 1rem;

}

.menu-w .toggle:checked ~ .menu {
  visibility: visible;

}

.menu-w .toggle:checked ~ .menu > .class-demo {
  transform: scale(1);
  transition-duration: all 0.4s ease;
}

.menu-w .toggle:checked ~ .menu > .class-demo > .class-demo {
  opacity: 1;
  transition: opacity 0.4s ease;
}
